@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
body{
    background-image: url("/img/bg-InfoClientes.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(24, 24, 24);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.menu{
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid rgb(0, 47, 67);
}
.menu h1{
    font-size: 30px;
    text-transform: uppercase;
}
.link{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.link a{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0.134);
}
.link a:hover{
    background-color: blue;
    box-shadow: 0px 0px 10px blue;
}
.title{
    background-color: rgba(0, 0, 0, 0.672);
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 30px;
}
.container{
    width: 90vw;
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.container-inicio{
    height: 60vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 20px;
    text-transform: uppercase;
}
.form{
    padding: 5px;
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
input{
    background-color: rgb(201, 201, 201);
    outline: none;
    border: none;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.b{
    margin-top: 10px;
    background-color: rgba(0, 0, 255, 0.565);
    color: white;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.b:hover{
    background-color: blue;
    box-shadow: 0px 0px 10px blue;
}
.info tr{
    display: flex;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid blue;
    border-collapse: collapse;
}
.info th{
    font-size: 20px;
    margin: 0px 50px 0px 50px;
}
.info td{
    padding: 0px 5px 0px 5px;
}

